<div class="notifications-list">
  @for (notification of notifications; track notification.id) {
  <div class="notification-card" [class.read]="notification.status === 'read'">
    <div class="notification-header">
      <span class="notification-title">{{ notification.title }}</span>
      <span class="notification-time">{{ notification.time }}</span>
    </div>
    <div class="notification-body">
      <p>{{ notification.body }}</p>
    </div>
    <div class="notification-actions">
      @if (notification.id != '0'){
        <button class="btn-primary" (click)="markNotificationAsRead(notification.id)">Oznacz jako przeczytane</button>
        <button class="btn-secondary" (click)="deleteNotification(notification.id)">Usuń powiadominie</button>
      }
    </div>
  </div>
  }
</div>
