.visit-button{
    transition: background-color 0.3s ease;
    width: 100%;
    cursor: pointer;
    padding: 0.2em;
}
.visit-button:hover{
    background-color: #ffffff;
}
.visit-popup{
    background-color: #211F1C;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    font-size: 0.8em;
}
.popup-header{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #d6d6d6;
    padding: 0.2em 3em;
    gap: 1em;
    font-size: 1.4em;
    font-weight: 600;
    min-height: 1.4em;
}
.popup-close-img{
    height: 0.6em;
    width: auto;
    cursor: pointer;
}
.popup-close-button{
    position: absolute;
    right: 0;
    align-self: center;
    margin-right: 0.6em;
}
.visit-popup-content{
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    padding: 0.5em 1em;
    overflow-y: scroll;
    gap: 0.5em;
    max-height: 75vh;
}
.visit-popup-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 0.2em;
    padding: 0.4em;
    font-size: 0.8em;
    gap: 0.2em;
    font-weight: 500;
}

.popup-info{
    background-color: #efefef;
    font-size: 1.2em;
    width: 40em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 0.1em 0.4em;
    /* border-radius: 0.2em; */
    font-weight: 400;
}

.visit-popup-section-header{
    display: flex;
    font-size: 1em;
    width: 100%;
    justify-content: center;
    color: #444;
    font-style: italic;
    font-weight: 500;
    border-bottom: #000 solid 0.4em;
    padding: 0.5em;
}

.estimate-section-title{
    font-weight: 400;
    text-align: left;
}

.visit-est-button{
    background-color: #211F1C;
    transition: background-color ease 0.3s;
    color: #d9d9d9;
    width: 8em;
    font-size: 0.8em;
    border-radius: 0.2em;
    padding: 0.1em;
    padding-top: 0.2em;
    align-self: center;
    cursor: pointer;
}

.visit-est-button:hover{
    background-color: #000;
}

.part-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ececec;
    margin: 0.2em;
}
.middle-column{
    text-align: center;
}
.left-column{
    text-align: left;
    margin-left: 0.1em;
}

.right-column{
    text-align: right;
    margin-right: 0.1em;
}

.visit-est-buttons{
    background-color: #d6d6d6;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.3em;
    justify-content: center;
}

.section-divider{
    background-color: #ccc;
    width: 100%;
    height: 0.1em;
}
