.visit-button{
    transition: background-color 0.3s ease;
    width: 100%;
    cursor: pointer;
    padding: 0.2em;
}
.visit-button:hover{
    background-color: #ffffff;
}
.visit-popup{
    background-color: #211F1C;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
}
.popup-header{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #d6d6d6;
    padding: 0.2em 3em;
    gap: 1em;
    font-size: 1.2em;
    font-weight: 600;
}
.popup-close-img{
    height: 0.6em;
    width: auto;
    cursor: pointer;
}
.popup-close-button{
    position: absolute;
    right: 0;
    align-self: center;
    margin-right: 0.6em;
}
.visit-popup-content{
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    padding: 0.5em 1em;
    overflow-y: scroll;
    gap: 0.5em;
    max-height: 80vh;
}
.visit-popup-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 0.2em;
    padding: 0.4em;
    font-size: 0.8em;
    gap: 0.2em;
    font-weight: 500;
}

.info-box{
    background-color: #fff;
    font-size: 1.2em;
    width: 80vw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    font-weight: 400;
}

.visit-popup-section-header{
    display: flex;
    font-size: 0.8em;
    width: 100%;
    justify-content: center;
    color: #444;
    font-style: italic;
}

.estimate-section-title{
    font-weight: 400;
    text-align: left;
}