.background {
  position: absolute;
  inset: 0;
  z-index: 0;
}
.panel {
  position: relative;
  z-index: 1;
}
.header {
  position: relative;
  z-index: 1;
}
.panel-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 35%;
  overflow: hidden;
  min-height: 100vh;
}
