<div class = 'site-header'>
<div class = 'user-section'>
    <div class = 'left-section'>
    <img src="/user-icon.svg" alt="user" class="user-icon">
    <p>WŁAŚCICIEL FIRMY</p>
    <img src="/bell-icon.svg" alt="bell" class="bell-icon">
    </div>
    <div class = 'right-section'>
    <p>wyloguj</p>
    </div>
</div>
<div class = 'logo-section'>
    <img src="/car.png" alt="car" class="car">
    <div class="name">
        <p>SERWIS SAMOCHODOWY <b>PLUS</b></p>
        <!-- <img src="/logo_login.svg" alt="logo" class="logo"> -->
    </div>
    <!-- <img src = "/tread_login_cut.svg" alt="tread" class="tread"> -->
</div>
<div class="divider"></div>
</div>