.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1vw;
  font-family: 'Khand', sans-serif;
}
.user-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #141414;
  color: #ffffff;
  padding: 0.7em 1em;
  width: 100%;
  height: 2.5em;
  font-size: 2em;
}
@media (orientation: portrait) {
  .user-section {
    font-size: 4em;
  }
}
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.logo-section {
  font-family: 'Gentium Book Plus', serif;
  font-size: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7em;
  height: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.car {
  max-height: 100%;
  width: auto;
}
.logo {
  height: 3em;
  width: auto;
}
.divider {
  width: 98%;
  height: 0.5em;
  background-color: #141414;
}
.user-icon {
  height: 1.5em;
  width: auto;
}
.bell-icon {
  height: 1.5em;
  width: auto;
}
.notifications-dropdown {
    position: absolute;
    top: 100%;
    left: 1em;
    color: #000000;
    background-color: #363636;
    border-radius: 0.5em;
    margin-top: 0.5em;
    width: 20em;
    height: fit-content;
    box-shadow: -0.3em 0.4em 0.2em rgba(0,0,0,0.25);
    z-index: 5;
}
.notifications-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.3em;
}
.notifications-list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #d9d9d9;
  min-height: 4em;
  border-radius: 0.5em;
  border-top-right-radius: 0;
  padding: 0.5em;
}
.notification-header {
  position: absolute;
  right: 0.3em;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-left: 1em;
  padding-bottom: 0;
  width: fit-content;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #d9d9d9;
}
.notification-header-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  gap: 1em;
}
.close-button {
  height: 1.5em;
  width: auto;
  cursor: pointer;
}
.tread {
  position: absolute;
  height: 80%;
  /* transform: rotate(45deg) scale(15%) translate(100%,-52%); */
  overflow: hidden;
  right: 0;
  bottom: 0;
}
.name {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  font-size: 1.5em;
}
.divider-gray {
  width: 100%;
  height: 0.5em;
  background-color: #363636;
}
