.site-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1vw;
    font-family: 'Khand', sans-serif;
}
.user-section{
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    background-color: #000000;
    color : #ffffff;
    padding: 0.7em 2em;
    width: 100%;
    height: 2.5em;
    font-size: 1em;
}
.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.logo-section{
    font-family: "Gentium Book Plus", serif;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
    height: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.car{
    max-height: 100%;
    width: auto;
}
.logo{
    height: 3em;
    width: auto;
}
.divider{
    width: 98%;
    border-radius: 100px;
    height: 0.2em;
    background-color: #000000;
}
.user-icon{
    height: 1.5em;
    width: auto;
}
.bell-icon{
    height: 1.5em;
    width: auto;
}
.tread{
    position: absolute;
    height: 2000%;
    transform: rotate(45deg) scale(15%) translate(100%,-52%);
    overflow: hidden;
    right: 0;
}