:host {
  position: relative;
  display: block;
}

.login-section {
  transition: height 0.15s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0.7em 0;
  background-color: #D9D9D9;
  opacity: 0.90;
  box-shadow: -0.3em 0.4em 0.2em rgba(0,0,0,0.25);
  color: #211F1C;
  height: 14em;
  
  border-radius: 1em;
}

.login-section.register-mode {
  height: 18em;
  
  border-radius: 1em;
}

.user-symbol {
  width: 2.5em;
  height: auto;
  margin: 0.5em;
}

.fields-title {
  font-size: min(0.6em, 3vh);
  padding-top: 0.5em;
}

.submit-button {
  transition: background-color 0.15s ease;
  background-color: #211F1C;
  color: #FFFFFF;
  height: 1.5em;
  width: 4.5em;
  border-radius: 1em;
  font-size: 0.8em;
  margin-top: 1em;
  padding-top: 0.05em;
}

.submit-button:hover {
  background-color: #000000;
}

.input-field {
  background-color: #FFFFFF;
  width: 90%;
  font-size: min(0.6em, 3vh);
  padding: 0.3em;
  text-align: center;
}
.login-form {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.selected-mode {
  transition: background-color 0.15s, color 0.15s;
  background-color: #211F1C;
  color: #D9D9D9;
  padding: 0.2em 0.4em 0.1em 0.4em;
}

.secondary-mode {
  transition: background-color 0.15s, color 0.15s;
  background-color: #f6f6f6;
  color: #363636;
  padding: 0.2em 0.4em 0.1em 0.4em;
}
.secondary-mode:hover {
  background-color: #ffffff;
}


.input-field:focus {
  outline-color: #363636;
}

.mode-selector {
  margin-bottom: 0.5em; 
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fields {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.incorrect-login-msg{
  font-size: 0.5em;
  font-weight: 100;
  padding-top: 0.5em;
}
