<div class = "wave-background">
    
    <img src="/oil_wave_light_gray.svg" alt="wave_light_gray" class="wave-light-gray">
    <img src="/oil_wave_dark_gray.svg" alt="wave_dark_gray" class="wave-dark-gray">
    <img src="/oil_wave_black.svg" alt="wave_black" class="wave-black">

    
    <div class="light-gray-wave-zone"></div>
    <div class="dark-gray-wave-zone"></div>
    <div class="black-wave-zone"></div>

    <div class = "footer">
        <div class = "footer-text">
        <p>Serwis Samochodowy PLUS</p>
        <p>Warszawa ul. Samochodowa 5</p>
        <p>123 456 789</p>
        </div>
        <img src = "logo_footer.svg" alt="logo-small" class = "footer-logo">
    </div>
</div>