
<div class="wrapper">
    <div class="mechanic-panel__header">
        
        @for (option of options; track option){
            <button
                type="button"
                class="mechanic-panel__tab"
                [class.active]="selectedMode === option"
                (click)="selectMode(option)">
                {{ option }}
            </button>
        }
    </div>
    <div class="mechanic-panel">
        
    <div class="border-alike"></div>
    <div class="mechanic-panel__content-wrapper">
    <div class="mechanic-panel__content">
        @if (selectedMode === 'kalendarz wizyt') {
            <app-calendar></app-calendar>
        } @else if (selectedMode === 'klienci') {
            <app-clients></app-clients>
        } @else if (selectedMode === 'naprawy') {
            <app-repairs></app-repairs>
        } @else if (selectedMode === 'raport statystyczny') {
            <app-statistical-report></app-statistical-report>
        } @else if (selectedMode === 'moje wizyty') {
            <client-visits></client-visits>
        } @else if (selectedMode === 'umów wizytę') {
            <schedule-visit></schedule-visit>
        } @else if (selectedMode === 'moje pojazdy') {
            <client-cars></client-cars>
        }
    </div>
    </div>
</div>

