
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

.mechanic-panel {
    font-family: 'Khand', sans-serif;
    font-size: 2vw;
    background-color: #D9D9D9;
    width: 80vw;
    min-height: 80vw;
    box-shadow: -0.3em 0.4em 0.2em rgba(0,0,0,0.25);
}

.mechanic-panel__header {
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;;
}

.mechanic-panel__tab {
    flex: 1 1 auto;
    padding: 0.4em 0.5em;
    cursor: pointer;
}

.mechanic-panel__tab:hover {
  background-color: #f0f0f0;
}

.mechanic-panel__tab.active {
  background-color: #D9D9D9;
}

.mechanic-panel__content-wrapper {
  padding: 1em;
}

.mechanic-panel__content {
  padding: 0.2em;
}

.mechanic-panel__placeholder {
  min-height: 100vw;
}